@mixin mq($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin containers($display) {
  align-items: center;
  border: 1px dashed #fff;
  border-radius: 0.5rem;
  display: $display;
  flex-direction: column;
  margin-bottom: 2rem;
  max-width: 70rem;
  padding: 2rem;
  width: 90%;
  @include mq(768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
